{% extends 'base.html.twig' %}

{% block title %}New Betaalmethode{% endblock %}

{% block body %}
    <h1>Create new Betaalmethode</h1>

    {{ include('betaalmethode/_form.html.twig') }}

    <a href="{{ path('betaalmethode_index') }}">back to list</a>
{% endblock %}
